#date-picker {
   color: white;
}

.date-picker {
   max-width: 300px;
}

#recreation-areas {
   color: white;
}

.MuiSvgIcon-root {
   color: #275fda;
}

#recreation-areas-label,
#date-picker-label {
   color: #4178ee;
}

.MuiOutlinedInput-notchedOutline {
   border-color: white;
}

.interactive {
   display: grid;
   grid-gap: 1vw;
   justify-content: center;
}

.dateRow {
   display: grid;
   align-items: center;
}

.campgroundTable {
   margin-top: 2vh;
}

@media (max-width: 800px) {
   .interactive {
      grid-template-columns: 80vw;
   }
}

@media (min-width: 801px) {
   .interactive {
      grid-template-columns: 50vw;
   }

   .dateRow {
      grid-template-columns: 25vw 25vw;
   }

   .campgroundTable {
      grid-template-columns: 80vw;
   }
}
