.video-progression-button {
   position: absolute;
   top: 45%;
   background: transparent;
   border: transparent;
   font-size: 7.5vw;
   font-weight: bolder;
   text-shadow: 2px 2px #363636;
}

.video-progression-button:hover {
   text-shadow: 2px 2px #143272;
}

.video-frame {
   position: absolute;
   top: 10vh;
   left: 15%;
   width: 70vw;
   height: 70vh;
   padding-top: 3%;
}

.video {
   height: 0;
   overflow: hidden;
}
